:root {
  --background-col: bisque;
  --background-dark: rgb(205, 178, 146);
  --primary-col: #d5e339;
}

html, body {
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notespace {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-color: var(--background-col);
  overflow: hidden;
}

.note {
  position: absolute;
  width: 20em;
  height: 20em;
  padding: 2em;
  background-color: var(--primary-col);
  box-shadow: rgb(0, 0, 0, 0.6) 0.1em 0.5em;
}

.note-text {
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  resize: none;
}

.add-button {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  font-size: 1.5em;
}

.add-button:hover {
  background-color: var(--background-dark);
  cursor: pointer;
}

